body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Hero section */

.hero{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 48px;
}

li, .hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color: inherit;
}

.hero-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 8% 0 10%;
}

.hero-text-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-img{
    flex: 1;
    display: flex;
    align-items: center;
}

.hero-img img{
    width: 100%;
}

.hero-main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero-secondary-text{
    margin-bottom: 24px;
}

.hero-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
}

/* Service Section */
.service-section{
    display: flex;
    flex-direction: column;
    padding: 6% 10% 8%;
    gap: 56px;
}

.service-title{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.service-body{
     display: flex;
     gap: 16px;
     align-items: center;
     justify-content: space-around;
     align-items: start;
}

.service-card{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.card-image{
    width: 50%;
}

.card-text{
    text-align: center;
}

/* Quote Section */
.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
}

.quote-text{
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author{
    color: #1F2937;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: end;
}

/* CTA Section */
.cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 10%;
}

.cta-card{
    background-color: #3882F6;
    width: 100%;
    border-radius: 8px;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}

.cta-title{
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 8px;
}

.cta-text{
    color: #E5E7EB;
}

.cta-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 20px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

/* Footer Section */
.footer{
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 12px;
    font-weight: 300;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
